Option to mandate unique key names in objects

RFC 4627 (Section 2.2. Objects) allows duplicate key names in objects, but this is not the case for many of the applications. So let's add an option to make key name uniqueness mandatory.

I'm going to work on this. Just let me know if you have a good short option name for this. I'm thinking of "uniq-keys" right now.
